body {
    display: flex;
    flex-flow: column;
    margin: 0px;
    font-family: "Roboto", sans-serif;
}

/* == == == == == */
/*     HEADER     */
/* == == == == == */

.header {
    display: flex;
    flex-flow: column;
    align-items: stretch;
    flex: 0 0 auto;
    gap: 80px;
    padding: 10px 150px 80px 150px;
    background-color: #1f2937;
}

.nav {
    display: flex;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
}

.header-links {
    margin-left: auto;
}

ul {
    display: flex;
    gap: 15px;
    list-style: none;
    padding: 0px;
    margin: 0px;
    color: #c2c4c8;
    font-size:18px;
}

.header-content {
    display: flex;
}

.header-text {
    display: flex;
    flex-flow: column;
    flex: 1 1 50%;
    gap: 10px;
}

h1 {
    margin: 0px;
    color: #f9faf8;
    font-size: 48px;
    font-weight: extra-bold;
}

.header-info {
    color: #c2c4c8;
    font-size: 18px;
}

button {
    margin: 0px;
    border-radius: 5px;
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: bold;
    padding: 5px 20px;
}

.h-button {
    border: none;
}

.header-image {
    display: flex;
    flex: 1 1 50%;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    background-color: #797d86;
}

.header-image-file {
    /* replace with img file */
    color: white;
    text-align: center;
}

/* == == == == == */
/*    CONTENT     */
/* == == == == == */

.content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 40px 150px 80px 150px;
}

.content-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.card {
    display: flex;
    flex-flow: column;
    flex: 0 0 auto;
    row-gap: 10px;
    height: auto;
    width: 150px;
}

.card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: inherit;
    border: #3882f6 solid 2px;
    border-radius: 10px;
}

.card-image-file {
    text-align: center;
}

.card-text {
    color: #c2c4c8;
    font-size: 18px;
    text-align: center;
}

h2 {
    margin: 0px;
    color: #1f2937;
    font-size: 36px;
    font-weight: extra-bold;
}

/* == == == == == */
/*     QUOTE      */
/* == == == == == */

.quote {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    background-color: #e5e7eb;
    padding: 120px 150px 80px 150px;
}

.quote-text {
    color: #1f2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.quote-author {
    display: flex;
    align-self: flex-end;
    width: auto;
    font-size: 18px;
    color: #1f2937;
    font-weight: bold;
}

/* == == == == == */
/*     FOOTER     */
/* == == == == == */

.footer {
    padding: 80px 150px;
}

.footer-content {
    display: flex;
    align-items: center;
    background-color: #3882f6;
    border-radius: 10px;
    padding: 40px 80px;
}

.footer-text {
    display: flex;
    flex-flow: column;
    flex: 1 0 66%;
}

h3 {
    margin: 0px;
    color: #f9faf8;
    font-size: 20px;
    font-weight: bold;
}

.footer-info {
    color: #f9faf8;
    font-size: 18px;
}

.footer-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1 0 33%;
}

.f-button {
    border: 1px solid #f9faf8;
}
